body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(255, 255, 255);
}

.text {
  color: rgb(113, 113, 156);
  text-align: center;
  margin-top: 250px;
}

.text h1 {
  font-size: 30px;
}

.text p {
  font-size: 19px;

}

.text img {
  width: 500px;
  align-items: center;
}